extends ../base/layout
include ../mixins/blocks/promo
include ../mixins/blocks/grades-block
include ../mixins/blocks/consult
include ../mixins/blocks/minor-features
include ../mixins/blocks/major-sequence
include ../mixins/blocks/works
include ../mixins/blocks/consult-middle
include ../mixins/blocks/celebrities

block data
  include ../data/placeholder

block variables
  - var title = "Землестрой — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = 'Главная'

block main
  main
    +promo
    +top-grades-block
    +consult
    .bg-mask
      +minor-features
      +top-major-sequence
    +works
    .middle-bg
      +consult-middle
      +celebrities




