extends ../base/layout
include ../blocks/promo

block data
  include ../data/placeholder

block variables
  - var title = "Землестрой — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = 'Главная'

block main
  main
    +promo



