extends ../base/layout
include ../mixins/blocks/promo
include ../mixins/blocks/grades-block
include ../mixins/blocks/consult
include ../mixins/blocks/minor-features
include ../mixins/blocks/sequence
include ../mixins/blocks/works
include ../mixins/blocks/consult-middle
include ../mixins/blocks/celebrities
include ../mixins/blocks/survey
include ../mixins/blocks/gallery
include ../mixins/blocks/questions
include ../mixins/blocks/major-features
include ../mixins/blocks/sequence-rows
include ../mixins/blocks/video-reviews
include ../mixins/blocks/exclusive
include ../mixins/modals/modal-form

block data
  include ../data/placeholder

block variables
  - var title = "Землестрой — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = 'Главная'

block main
  main
    +promo
    +top-grades-block
    +consult
    .bg-mask
      +top-minor-features
      +top-sequence
    +top-works
    .middle-bg
      +consult-middle
      +celebrities
    .bg-mask.bg-mask--middle
      +middle-minor-features
    +middle-sequence
    +survey
    +bottom-grades-block
    +gallery
    +questions
    .clouds-bg
      +top-major-features
      +bottom-minor-features
    +sequence-rows
    +bottom-works
    +video-reviews
    .bottom-mask
      +bottom-sequence
      +exclusive
    +modal-form





