extends ../base/layout
include ../mixins/blocks/consult
include ../mixins/blocks/minor-features
include ../mixins/blocks/sequence
include ../mixins/blocks/celebrities
include ../mixins/blocks/sequence-rows
include ../mixins/blocks/video-reviews
include ../mixins/blocks/exclusive
include ../mixins/blocks/initial
include ../mixins/blocks/portfolios
include ../mixins/blocks/major-video-reviews

block data
  include ../data/placeholder

block variables
  - var title = "Землестрой — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = 'Видеоотзывы'

block main
  main
    +initial-reviews
    +major-video-reviews
    +consult-portfolio
    .bg-mask.bg-mask--portfolio
      +middle-minor-features(true)
    +portfolios
    .bottom-mask
      +bottom-sequence
      +exclusive





