.acc-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $color-light-grey3;
  background-color: $color-light-grey4;

  @include outline-reset;

  svg {
    fill: $color-white;
    stroke: $color-green;
    transition: transform $default-transition-settings, stroke $default-transition-settings;
  }

  &--close {
    svg {
      stroke: $color-grey2;
      transform: rotate(-180deg);
    }
  }
}
