.gallery-minor {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &__main {
    // margin-bottom: 10px;
    // width: 336px;
    // height: 230px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__main-nav {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 70px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;

    .nav-button {
      pointer-events: auto;
    }
  }

  &__row {
    @include viewport--md {
      display: none;
    }
  }

  &__row-item {
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    @include viewport--md {
      width: auto;
      height: auto;
    }
  }

  .slick-list {
    margin: 0 -5px;
  }

  .slick-slide {
    margin: 0 5px;
  }
}
