.grades-card {
  @include list-item-reset;
  width: calc(50% - 20px);
  position: relative;
  display: flex;
  flex-direction: column;

  @include viewport--sm {
    width: calc(100% - 20px);
  }

  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include viewport--sm {
      height: 210px;
    }
  }

  &__content {
    flex: 1 0 auto;
    position: relative;
    padding: 22px 26px 29px 29px;
    border: 1px solid $color-light-grey;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    line-height: 26px;
    background-color: $color-white;

    @include viewport--sm {
      padding: 24px 20px 21px 18px;
    }
  }

  h3 {
    margin: 0;

    @include viewport--sm {
      padding-right: 65px;
      min-height: 60px;
    }
  }

  &__toggle {
    display: none;

    @include viewport--sm {
      position: absolute;
      top: 24px;
      right: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid $color-light-grey3;
      background-color: $color-light-grey4;

      @include outline-reset;

      svg {
        fill: $color-white;
        stroke: $color-green;
        transition: transform $default-transition-settings,
          stroke $default-transition-settings;
      }

      &--close {
        svg {
          stroke: $color-grey2;
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__wrapper {
    @include viewport--sm {
      display: none;
    }
  }

  &__top-desc {
    margin-bottom: 11px;
  }

  ul {
    @include list-reset;
  }
}
