.initial {
  margin-top: 100px;
  margin-bottom: 50px;

  &__inner {
    padding: 88px 33% 90px 72px;
    background-image: url("../../img/bg/initial-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    color: $color-white;
    border-radius: 10px;

    @include viewport--sm {
      background-image: url("../../img/bg/initial-mobile-bg.jpg");
    }

    h1 {
      margin: 0 0 12px;
      font: 500 36px/55px $font-family;
    }

    p {
      margin: 0;
      font: 16px/30px $font-family;
    }
  }
}
