.major-features {
  @include viewport--sm {
    background-color: $color-white;
  }

  &__inner {
    padding-top: 82px;
    padding-bottom: 100px;
    border-bottom: 1px solid $color-light-grey6;

    @include viewport--sm {
      padding-top: 43px;
      padding-bottom: 51px;
    }
  }

  &__list {
    @include list-reset;
    margin: 0 -20px -20px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 20px 20px 0;
    }
  }
}
