.minor-features {
  &__inner {
    padding: 80px 0 154px;

    h2 {
      margin: 0 0 38px;
    }
  }

  &__list {
    @include list-reset;
    margin-right: -70px;
    margin-bottom: -40px;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 70px;
      margin-bottom: 40px;
    }
  }
}
