.minor-features-card {
  @include list-item-reset;
  width: calc(33.3% - 50px);

  @include viewport--md {
    width: calc(50% - 50px);
  }

  @include viewport--sm {
    width: calc(100% - 50px);
  }

  &--narrow {
    width: calc(25% - 50px);

    @include viewport--md {
      width: calc(50% - 50px);
    }

    @include viewport--sm {
      width: calc(100% - 50px);
    }
  }

  &__icon {
    margin-bottom: 21px;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-light-grey;
    border-radius: 10px;
  }

  h3 {
    margin: 0 0 11px;
    min-height: 64px;

    @include viewport--sm {
      min-height: 0;
    }
  }

  &__text {
    margin: 0;
    min-height: 100px;
    flex: 1 0 auto;
    font-size: 14px;
    line-height: 26px;
  }
}
