.nav-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-white;
  box-shadow: inset 0 0 0 1px $color-light-grey5;
  border-radius: 10px;
  border: none;
  color: $color-grey2;
  transition: background $default-transition-settings,
    box-shadow $default-transition-settings,
    color $default-transition-settings;
  cursor: pointer;

  @include outline-reset;

  svg {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }

  &:hover,
  &:focus,
  &:active {
    background: $gradient-green;
    box-shadow: inset 0 0 0 1px transparent;
    color: $color-white;
  }

  &--hide {
    opacity: 0;
  }

  &--blur {
    background: rgba(#171725, 0.1);
    border: 1px solid rgba($color-light-grey5, 0.15);
    box-shadow: none;
    color: rgba($color-white, 0.7);
    backdrop-filter: blur(10px);

    &:hover,
    &:focus,
    &:active {
      background: inherit;
      color: $color-white;
    }
  }
}
