.video {
  width: 360px;
  // height: 230px;
  padding-top: percentage(230px/360px);
  position: relative;
  border-radius: 10px;

  @include viewport--sm {
    width: 250px;
    height: 160px;
  }

  &--fullwidth {
    width: auto;
  }

  &__thumbnail {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      border-radius: 10px;
    }
  }

  &__play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba($color-white, 0.15);
    background-image: url("../img/svg/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color $default-transition-settings;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-white, 0.6);
    }
  }
}
