// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-grey-bg:                   #fafafb;

$color-black:                     #44444f;
$color-black2:                    #171725;
$color-grey:                      #92929d;
$color-grey2:                     #94949e;
$color-white:                     #ffffff;
$color-green:                     #2ca824;
$color-light-grey:                #f1f1f5;
$color-light-grey2:               #fafafb;
$color-light-grey3:               #e5eaef;
$color-light-grey4:               #fafafa;
$color-light-grey5:               #f2f2f5;
$color-light-grey6:               #e2e2ea;

// Gradient

$gradient-green:                    linear-gradient(272.82deg, #2ca824 0%, #45cf3c 100%);

$box-shadow-green:                  0 17px 20px -20px #2ca824, 0 15px 40px -10px rgba(44, 168, 36, 0.2);
$box-shadow-green-hover:                  0 17px 20px -20px #2ca824, 0 15px 40px -10px rgba(45, 168, 36, 0.7);

// Typography
//---------------------------------

$font-family:                     "GothamPro", "Arial", sans-serif;
$font-family--alt:                "Geometria", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);
$button-transition-settings:        0.3s ease-in-out;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      992px;
$viewport--xl:                      1200px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
