include ../basic/icon

mixin button(text, addClass = null, mod = null)
  a(href='#' class= [addClass ? addClass : '', 'button', mod ? `button--${mod}` : ''])
    =text
    if (mod != 'prev')
      +icon('arrow-left', 14, 15)
    else
      +icon('arrow-right', 14, 15)
