include celebrities-slide
include celebrities-tiles

mixin celebrities
  section.celebrities
    .container
      .celebrities__inner
        h2.visually-hidden Уровень наших клиентов подтверждает наш высокий подход к делу
        .celebrities__slider.owl-carousel
          each slide in celebrities
            +celebrities-slide(slide)
        .celebrities__nav
        +celebrities-tiles


