include button

mixin consult
  section.consult
    .container
      .consult__inner
        h2 Нужна консультация<br> в выборе газона?
        p.consult__top-desc Составим план раскладки газона<br> для вашего участка
        p.consult__bottom-desc Оставьте ваши контакты и мы поможем с выбором
        +button('Получить предложение')

mixin consult-portfolio
  section.consult.consult--portfolio
    .container
      .consult__img
        +img('content', 'consult-portfolio', 'jpg', 670, 370, 'Фото')
      .consult__inner
        h2 Нужна помощь<br> в выборе газона?
        p.consult__top-desc Составим план раскладки газона<br> для вашего участка
        p.consult__bottom-desc Оставьте ваши контакты и мы поможем с выбором
        +button('Получить предложение')

