include section-header
include button
include ../basic/icon
include ../basic/img

mixin consult-middle
  section.consult-middle
    .container
      .consult-middle__inner
        .consult-middle__content
          +section-header('Делаем «на совесть», <br>а не просто «под ключ»')
          blockquote
            p За долгие годы работы в строительстве я понял, что моя ключевая компетенция - это земляные работы. И я решил отбросить все остальное, а сконцентрироваться на том, что получается хорошо – готовить почву и стелить газон.
            p Подготовка почвы - это самое важное для приживаемости газона. У всех участков разна кислотность почвы, что негативно сказывается на газоне в последствии.
            p Именно поэтому я со спокойной душой могу давать гарантию работы. Уезжая с участка после окончания работ, я точно знаю, что все пойдет как нужно и без меня.
            p Давайте сделаем и ваш участок «на совесть», а не просто «под ключ»
          cite Директор «ЗемлеСтрой», Максим Андреев
          .consult-middle__buttons-row
            +button('Получить консультацию', 'consult-middle__main-btn', 'minor')
            a(href="#", aria-label="Ссылка на Whatsapp").consult-middle__contact-btn
              +icon('whatsapp', 24, 24)

        .consult-middle__image
          +img('content', 'consult2', 'jpg', 768, 424, 'Директор «ЗемлеСтрой», Максим Андреев')


