
mixin initial-portfolio
  section.initial
    .container
      .initial__inner
        h1 Наши объекты<br> с подробным описанием
        p Помогли с устройством газона 100 клиентам.<br> И вам поможем тоже

mixin initial-reviews
  section.initial
    .container
      .initial__inner
        h1 Клиенты довольны нашей работой
        p Посмотрите отзывы о нашей работе от тех, кто уже воспользовался нашими услугами
