include ../basic/icon

mixin minor-features-card(data)
  li.minor-features-card
    .minor-features-card__icon
      +icon(data.icon.title, data.icon.width, data.icon.height)
    h3.title.title--h3= data.title
    p!= data.description
