include ../basic/icon

mixin minor-features-card(data, narrow = false)
  li.minor-features-card(class={'minor-features-card--narrow': narrow})
    .minor-features-card__icon
      +icon(data.icon.title, data.icon.width, data.icon.height)
    if (data.title)
      h3.title.title--h3= data.title
    p.minor-features-card__text!= data.description
