include ../basic/img

mixin works-gallery(gallery)
  .works-gallery
    .works-gallery__main
      +img('content', gallery[0].title, 'jpg', gallery.width, gallery.height, gallery[0].altText)
    .works-gallery__row.owl-carousel
      each item in gallery
        .works-gallery__item
          +img('content', item.title, 'jpg', gallery.width, gallery.height, item.altText)
